<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HomeControl</servlet-name>
        <servlet-class>controller.HomeControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeControl</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CartControl</servlet-name>
        <servlet-class>controller.CartControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BillControl</servlet-name>
        <servlet-class>controller.BillControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportControl</servlet-name>
        <servlet-class>controller.ReportControl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoryControl</servlet-name>
        <servlet-class>controller.HistoryControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CartControl</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BillControl</servlet-name>
        <url-pattern>/bill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportControl</servlet-name>
        <url-pattern>/report</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoryControl</servlet-name>
        <url-pattern>/history</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
     <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
